* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(2, 2, 94);
  --primary-color-background: rgb(0, 67, 255, 0.4);
  --error-color: rgb(164, 8, 8);
  --error-background: rgb(164, 8, 8, 0.3);
  --success-color: rgb(154 229 148);
  --euro-pink: rgb(255, 0, 135);
  --euro-pink-background: rgb(255, 0, 135, 0.5);
  --euro-yellow: rgb(255, 248, 0);
  --euro-gold: rgb(218, 183, 29);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 89.5dvh;
  padding: .75rem;
  padding-bottom: 2rem;
  padding-top: 0;
  overflow: scroll;
}

.container h2{
  margin-bottom: 1rem;
}

.subtitle {
  display: flex;
  justify-content: center;
}

.subtitle a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.error-span {
  background-color: var(--error-background);
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--error-color);
  text-align: center;
  color: var(--error-color);
  min-width: 50%;
}

#root {
  max-width: 100vw;
}

#root > div {
  z-index: -2;
}

.country-flag {
  margin-right: 0.2rem;
}

span.fis.country-flag-select {
  margin-right: 0.5rem;
}
.archive-element{
  margin-top: 1.5rem;
}
span.fis.country-flag {
  width: 30%;
  background-size: cover

}

.select-css {
  margin-top: 1rem;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  outline: none;
}

.select-css.selected {
  position: absolute;
  top: 8dvh;
  right: 5vw;
  z-index: 50;
}

.profile-button {
  display: flex;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  justify-content: center;
  align-items: center;
}

.profile-button img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}